// // COLORS
$color-white: #fff;
$color-black: #000;
$color-matrix-green: #00ff41;

// // FONT SIZES
$default-font-size: 1.6rem;

// // GRID
$nav-height: 80px;
// $grid-width: 114rem;
// $row-gap: 8rem;
// $column-gap: 6rem;
