body {
	padding: $body-padding;
}

section {
	max-width: 120rem;
	margin: 0 auto;
	padding: 8rem 0;
}

.section-intro {
	min-height: calc(100% - (2 * #{$body-padding}));
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid {
	display: grid;
	height: 100%;

	&--2-col {
		grid-template-columns: repeat(2, 1fr);
	}
}
