section {
	height: calc(
		100vh - #{$navigation-height} - #{$footer-height} -
			(2 * #{$body-padding})
	);
}

.grid {
	display: grid;
	height: 100%;

	&--2-col {
		grid-template-columns: repeat(2, 1fr);
	}
}
