.header {
	position: relative;
	max-width: 130rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: $navigation-height;
	z-index: 99;

	&__nav {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		z-index: 99;

		&__item {
			display: inline-block;
			z-index: 99;
		}

		&__item:not(:last-child) {
			padding-right: 2.4rem;
		}
	}

	&__logo {
		height: 100%;
	}
}
