.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: $navigation-height;
	padding: 0 4.8rem;
	z-index: 99;

	&__nav {
		display: flex;
		list-style: none;

		&__item:not(:last-child) {
			padding-right: 2.4rem;
		}
	}

	&__logo {
		height: 100%;
	}
}
