/**************************/
/* BELOW 1360px */
/**************************/

@media (max-width: 85em) {
	.header {
		padding: 0;
	}

	.footer {
		left: $body-padding;
	}
}

/**************************/
/* BELOW 1248px */
/**************************/

@media (max-width: 78em) {
	.welcome-big {
		font-size: 18rem;
	}

	.heading-primary {
		font-size: 7.4rem;

		&--big {
			font-size: 8.6rem;
		}
	}
}

/**************************/
/* BELOW 1152px */
/**************************/

@media (max-width: 72em) {
	html {
		/* 9px / 16px  */
		font-size: 56.25%;
	}
}

/**************************/
/* BELOW 1040 */
/**************************/

@media (max-width: 65em) {
	html {
		/* 8px / 16px = 0.5 = 50% */
		font-size: 50%;
	}

	.welcome-big {
		font-size: 16rem;
	}
}

/**************************/
/* BELOW 896 */
/**************************/

@media (max-width: 56em) {
	section {
		padding: 10rem 0;
	}

	.heading-primary {
		font-size: 5.2rem;

		&--big {
			font-size: 6.2rem;
		}
	}

	.paragraph {
		font-size: 1.8rem;
	}

	.hero {
		&__link-box {
			&--links {
				gap: 4rem !important;
			}
		}
	}

	.welcome-big {
		font-size: 12rem;
		bottom: -4% !important;
	}

	.developer-small {
		font-size: 1rem;
	}

	.img-ring {
		top: -45% !important;
		left: 42% !important;
	}

	.btn {
		&:link,
		&:visited {
			font-size: 1.8rem;
		}
	}

	.btn-mobile-nav {
		display: block;
		z-index: 9999;
	}

	.header__nav {
		-webkit-backdrop-filter: blur(50px);
		backdrop-filter: blur(50px);
		position: absolute;
		top: -3rem;
		left: -3rem;
		width: 100vw;
		height: 100vh;
		transform: translateX(100%);

		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.5s ease-in;

		opacity: 0;
		pointer-events: none;
		visibility: hidden;
	}

	.nav-open .header__nav {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		transform: translateX(0);
	}

	.header__nav__list {
		flex-direction: column;
		gap: 4.8rem;

		&--item {
			font-size: 3.2rem;
		}

		&--item:not(:last-child) {
			padding-right: 0;
		}
	}

	.nav-open .icon-mobile-nav.close {
		display: block;
	}

	.nav-open .icon-mobile-nav.open {
		display: none;
	}

	// .main-nav-link:link,
	// .main-nav-link:visited {
	// 	font-size: 3rem;
	// }
}

//   /**************************/
//   /* BELOW 704px */
//   /**************************/

@media (max-width: 44em) {
	section {
		padding: 15rem 0;
	}

	.grid {
		&--2-col {
			grid-template-columns: 2fr 1fr;
		}
	}

	.welcome-big {
		font-size: 8rem;
		rotate: -90deg;
		bottom: 0% !important;
		left: 91% !important;
	}
}

// 	.diets {
// 	  grid-column: 1 / -1;
// 	  justify-self: center;
// 	}

// 	.heading-secondary {
// 	  margin-bottom: 4.8rem;
// 	}

// 	.pricing-plan {
// 	  width: 100%;
// 	}

// 	.grid--footer {
// 	  grid-template-columns: repeat(6, 1fr);
// 	}

// 	.logo-col,
// 	.address-col {
// 	  grid-column: span 3;
// 	}

// 	.nav-col {
// 	  grid-row: 1;
// 	  grid-column: span 2;
// 	  margin-bottom: 3.2rem;
// 	}
//   }

//   /**************************/
//   /* BELOW 544px */
//   /**************************/

@media (max-width: 34em) {
	section {
		padding: 30rem 0;
	}
	.grid {
		&--2-col {
			grid-template-columns: 1fr;
		}
	}
}

//   /**************************/
//   /* Fixing Safari flexbox gap */
//   /**************************/

//   .no-flexbox-gap .main-nav-list li:not(:last-child) {
// 	margin-right: 4.8rem;
//   }

//   .no-flexbox-gap .list-item:not(:last-child) {
// 	margin-bottom: 1.6rem;
//   }

//   .no-flexbox-gap .list-icon:not(:last-child) {
// 	margin-right: 1.6rem;
//   }

//   .no-flexbox-gap .delivered-faces {
// 	margin-right: 1.6rem;
//   }

//   .no-flexbox-gap .meal-attribute:not(:last-child) {
// 	margin-bottom: 2rem;
//   }

//   .no-flexbox-gap .meal-icon {
// 	margin-right: 1.6rem;
//   }

//   .no-flexbox-gap .footer-row div:not(:last-child) {
// 	margin-right: 6.4rem;
//   }

//   .no-flexbox-gap .social-links li:not(:last-child) {
// 	margin-right: 2.4rem;
//   }

//   .no-flexbox-gap .footer-nav li:not(:last-child) {
// 	margin-bottom: 2.4rem;
//   }

//   @media (max-width: 75em) {
// 	.no-flexbox-gap .main-nav-list li:not(:last-child) {
// 	  margin-right: 3.2rem;
// 	}
//   }

//   @media (max-width: 59em) {
// 	.no-flexbox-gap .main-nav-list li:not(:last-child) {
// 	  margin-right: 0;
// 	  margin-bottom: 4.8rem;
// 	}
//   }
