*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	padding-top: $body-padding !important;
	padding-bottom: $body-padding !important;
}
