.hero {
	&__text-box {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: space-between;
		margin-bottom: 10%;
	}

	&__link-box {
		display: flex;
		align-items: center;
		justify-content: left;
		margin-left: 5%;

		&--links {
			display: flex;
			align-items: center;
			justify-content: left;
			gap: 8rem;
		}
	}

	&__imgs {
		z-index: -1;
	}
}

.img-ring {
	position: absolute;
	height: 200vh;
	top: -25vw;
	left: 47vw;
}

.img-author {
	position: absolute;
	height: 85vh;
	top: 6vw;
	left: 52vw;
}

.heading-primary {
	position: relative;
}

.developer-small {
	display: inline-block;
	position: absolute;
	left: 0;
	top: -2%;
}

.welcome-big {
	position: absolute;
	bottom: -7%;
	right: -1%;
	z-index: 1;
}
