.section-hero {
	display: block;
	max-width: 120rem;
	margin: 0 auto;
	padding: 9.8rem 0;
}

.hero {
	&__img-box {
		&--ring {
			position: absolute;
			height: 100vw;
			top: -30vw;
			right: -49vw;
		}

		&--author {
			position: absolute;
			height: 80%;
			top: 6vw;
			right: 15vw;
		}
	}
}
