.section-hero {
	display: block;
	max-width: 120rem;
	margin: 0 auto;
	padding: 9.8rem 0;
}

.hero {
	&__img {
		&--ring {
			position: absolute;
			height: 200%;
			top: -50%;
			right: -45%;
		}

		&--author {
			position: absolute;
			height: 80%;
			top: 10%;
			right: 15%;
		}
	}
}
